{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the about page</h1>
                <h3>you suck ethan</h3>
                <p>this is a bitchin new line {{index .StringMap "test"}}</p>
            </div>
        </div>
    </div>
{{end}}
